---
swagger: "2.0"
info:
  description: "Operation service to handle user's requests for CRUD operation for\
    \ rules, lines, application settings"
  version: "1.0.0"
  title: "Irrigation"
  contact:
    email: "butenko2003@ukr.net"
host: "mozz.asuscomm.com"
basePath: "/v1"
tags:
- name: "lines"
  description: "All operations related to lines"
- name: "sensors"
  description: "All operations related to sensors"
- name: "rules"
  description: "All operations related to rule"
- name: "application"
  description: "Operations about application layer"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /lines:
    get:
      tags:
      - "lines"
      summary: "Get summary for all lines"
      description: "Returns an array of line objects"
      operationId: "get_all_lines"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Line"
      x-swagger-router-controller: "swagger_server.controllers.lines_controller"
  /lines/{lineId}:
    get:
      summary: "Returns summary of line by ID."
      operationId: "lines_line_id_get"
      parameters:
      - name: "lineId"
        in: "path"
        description: "Line id to process"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Line"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
    put:
      summary: "Change settings for line by id."
      operationId: "lines_line_id_put"
      parameters:
      - name: "lineId"
        in: "path"
        description: "Line id to process"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Line"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
  /lines/{lineId}/{command}:
    post:
      summary: "Enable line of line by ID."
      operationId: "lines_line_id_command_post"
      parameters:
      - name: "lineId"
        in: "path"
        description: "Line id to process"
        required: true
        type: "string"
      - name: "command"
        in: "path"
        description: "Command to execute againg line"
        required: true
        type: "string"
        enum:
        - "enable"
        - "disable"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Line"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
definitions:
  Line:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      status:
        type: "string"
        description: "Line Status"
        enum:
        - "inProgress"
        - "active"
        - "notActive"
      linkedSensor:
        type: "string"
        description: "Linked sensor id, if present"
    example:
      linkedSensor: "linkedSensor"
      id: 0
      status: "inProgress"
  Sensor:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      status:
        type: "string"
        description: "Sensot Status"
        enum:
        - "active"
        - "notActive"
      linkedLine:
        type: "string"
        description: "Linked line id, if present"
      value:
        type: "object"
        description: "Sensor value"
        properties: {}
